h1{
    background-color: aqua;
    color: blueviolet;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #00bcd4;
  }

  .nav-links li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #00bcd4;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  .nav-links li a:hover::after,
  .nav-links li a.active::after {
    width: 100%;
  }